.facility-sec {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
    padding: 3vw;
	h1 {
		font-size: 3vw;
		text-align: center;
		color: #0075bb;
		font-weight: bold;
	}
	span {
		font-size: 3vw;
		color: #fe0000;
	}
	.FacilitiesBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		cursor: pointer;
		gap: 40px;
		img{
			width: 300px;
			height: 200px;
			object-position: top;
			object-fit: cover;
		}
		.coursePara {
			background-color: #0075bb;
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: 1.2vmax;
			padding: 5px;
		}
	}
}
