.content-sec {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 3vw;
	h1 {
		font-size: 3.5vw;
		text-align: center;
		color: #0075bb;
		font-weight: bold;
	}
	span {
		font-size: 3.5vw;
		color: #fe0000;
	}
	p{
		font-size: 2vmin;
	}
}