.project {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 3vw;
}
.projectSec {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
    font-size: 2vmax;
}
.couterPara{
	font-size: 1.2vmax;
}
span{
	font-size: 4vw;
}