.contact-sec{
    display: flex;
    justify-content: space-between;
    padding: 20px 3vw;
    align-items: center;
}
.formContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    form{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        input, textarea{
            border: none;
            border: 1px solid #dadada;
            border-radius: 5px;
            padding: 5px;
            width: 100%;
        }
    }
}
.contactRegisterOffice{
    width: 60%;
    padding: 20px;
}
