.header-container {
	display: flex;
	justify-content: space-between;
	padding: 10px 3vw;
	background-color: #0075bb;
	color: #fff;
}
.contact-details {
	display: flex;
	gap: 10px;
	a {
		display: flex;
		align-items: center;
		gap: 3px;
	}
}
.link-details {
	display: flex;
	gap: 10px;
	button {
		display: flex;
		align-items: center;
		gap: 3px;
	}
}
.heading-sec {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 3vw;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
ul {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1vw;
}
.navLink {
	margin: 0 5px;
	padding: 5px 8px;
	font-size: large;
}
.navLink:hover {
	background-color: #0075bb;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.active {
	background-color: #0075bb;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.humburgerMenu{
	display: none;
	cursor: pointer;
	font-size: 18px;
}
.logo{
	width: 10vw;
}


@media screen and (max-width: 768px) {
  .header-container {
	display: flex;
	justify-content: space-between;
  }
  .contact-details{
	font-size: 1.2vmax;
}
.link-details{
	font-size: 1.2vmax;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .heading-sec img{
	width: 20vw;
  }
  .heading-sec ul{
	display: none;
  }
  .humburgerMenu{
	display: block;
  }
}


@media screen and (min-width: 769px) and (max-width: 1279px){
	.heading-sec img{
		width: 150px;
	}
	.navLink{
		font-size: 14px;
	}
}
