.footerSec {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 50px;
	background-color: #01314c;
	color: #fff;
	gap: 20px;
}
.quickLink {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	li {
		list-style-type: disc;
	}
	a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
}
.quickLink ul{
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.registerOffice {
	width: 25%;
	li {
		list-style-type: disc;
	}
	a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
}
.corporateOffice {
	width: 25%;
	li {
		list-style-type: disc;
	}
	a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
}
.socialMedia {
	width: 25%;
	display: flex;
	align-items: center;
	gap: 20px;
    a{
        font-size: 20px;
		padding: 10px;
		background-color: white;
		border-radius: 3px;
    }
	:hover{
		background-color: #dbd7d7;
	}
}
h2{
	font-size: 4vw;
}
h3{
	font-size: 3vw;
}
.footerList, .footerPara{
	font-size: 2vw;
}
@media screen and (max-width: 768px){
	.footerSec{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.quickLink{
		width: 100%;
	}
	.registerOffice{
		width: 100%;
	}
	.corporateOffice{
		width: 100%;
	}
	.socialMedia{
		width: 100%;
	}
}