* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/************ Header Container ************/

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	background-color: #0075bb;
	color: #fff;
}
.contact-details {
	display: flex;
	gap: 10px;
	a {
		display: flex;
		align-items: center;
		gap: 3px;
	}
}
.link-details {
	display: flex;
	gap: 10px;
	a {
		display: flex;
		align-items: center;
		gap: 3px;
	}
}

/************ Heading Section ************/

.heading-sec {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	img {
		width: 200px;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin: 0 5px;
			padding: 5px 8px;
			font-size: large;
		}
		:hover {
			background-color: #0075bb;
			color: #fff;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

/************ carouse Section ************/

.carousel-Img {
	width: 100%;
	img {
		width: 100%;
	}
}

/************ Content Section ************/

.content-sec {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 50px;
	h1 {
		font-size: 50px;
		text-align: center;
		color: #0075bb;
		font-weight: bold;
	}
	span {
		color: #fe0000;
	}
}

/************ Course Section ************/

.course-sec {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
    background-color: #f5f1f1;
    padding: 50px;
	h1 {
		font-size: 50px;
		text-align: center;
		color: #0075bb;
		font-weight: bold;
	}
	span {
		color: #fe0000;
	}
	.courseBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		cursor: pointer;
		gap: 40px;
		img{
			width: 300px;
			height: 200px;
			object-fit: cover;
			object-position: top;
		}
		p {
			background-color: #0075bb;
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: 20px;
			padding: 5px;
		}
	}
}
/************ Facility Section ************/

.facility-sec {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
    padding: 50px;
	h1 {
		font-size: 50px;
		text-align: center;
		color: #0075bb;
		font-weight: bold;
	}
	span {
		color: #fe0000;
	}
	.FacilitiesBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		cursor: pointer;
		gap: 40px;
		img{
			width: 300px;
			height: 200px;
			object-position: top;
			object-fit: cover;
		}
		p {
			background-color: #0075bb;
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: 20px;
			padding: 5px;
		}
	}
}

/************ Location Section ************/

.locationSec {
	display: flex;
	justify-content: center;
	align-items: center;
}
iframe {
	width: 100%;
	padding: 20px 0px;
}

/************ Footer Section ************/

.footerSec {
	display: flex;
	justify-content: space-between;
	padding: 50px;
	background-color: #01314c;
	color: #fff;
}
.quickLink {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	li {
		list-style-type: disc;
	}
	a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
}
.registerOffice {
	width: 25%;
	li {
		list-style-type: disc;
	}
	a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
}
.corporateOffice {
	width: 25%;
	li {
		list-style-type: disc;
	}
	a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
}
.socialMedia {
	width: 25%;
	display: flex;
	align-items: center;
	gap: 20px;
    a{
        font-size: 20px;
		padding: 10px;
		background-color: white;
		border-radius: 3px;
    }
	:hover{
		background-color: #dbd7d7;
	}
}

/************ ProjectCounter Section ************/


.project {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
	padding: 50px;
	background-color: #f5f1f1;
}
.projectSec {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
    font-size: 20px;
}

/************ Testimonial Section ************/

.testimonial-sec{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 80px 50px;
	position: relative;
}
.testimonialBox{
	width: 30%;
	padding: 10px;
	border: .5px solid #0075bb;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	img{
		position: relative;
		top: -60px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	h2{
		font-weight: bold;
	}
	p{
		text-align: center;
	}
}
